.stepper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-index {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: rgb(206, 198, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-bottom: 5px;
}
.step-name {
  font-size: 20px;
}
.active .step-index {
  background-color: #007bff;
  columns: #fff;
}
.complete .step-index {
  background-color: #28a745;
  color: #fff;
}
.btn {
  padding: 3px 6px;
  margin-top: 20px;
}
.progress-bar {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}
.progress {
  height: 100%;
  background-color: #28a745;
  transition: 0.2s ease;
}
